// Theme
$black: #000000;
$dark-red: #b30839;
$gray: #707070;
$light-gray: #ebebeb;
$light-red: #ea002a;
$medium-gray: #d4d4d4;
$white: #ffffff;

// Font(s)
// https://fonts.google.com/specimen/Mulish?preview.text_type=custom
$mulish: 'Mulish', sans-serif;

// Functions
$transition-time: 0.3s;
